html{
    box-sizing: border-box;
    height: 100%;   
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: #111111;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper{
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #000000;
    background: inherit;
    border: 3px solid rgba(255, 255, 255, 0.34); /* this is just added to give some constrast*/
    flex-basis: 400px;
    height: 540px;
    padding: 20px;
}

.screen{
    background: inherit;
    color: #ffffff;
    font-size: 35px;
    padding: 20px;
    text-align: right;
    width: 360px;
}

.calc-button-row{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}

.calc-button{
    background: rgba(88, 88, 88, 0.514);
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #fffefe;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;

}

.calc-button-top{
    background: rgba(211, 211, 211, 0.514);
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #080808;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;

}

.calc-button:last-child{
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #ffff;
    background: rgb(255, 166, 0);
}

.calc-button-top:last-child{
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #ffff;
    background: orange;
}

.calc-button:last-child:hover{
    background-color: rgb(255, 194, 80);
    color: inherit;
}

.calc-button-top:last-child:hover{
    background-color: rgb(255, 194, 80);
    color: inherit;
}

.calc-button:hover{
    background-color: rgba(168, 168, 168, 0.623);
}

.calc-button:active{
    background-color:  rgba(168, 168, 168, 0.623);
}

.calc-button-top:hover{
    background-color: rgba(255, 255, 255, 0.623);
}

.calc-button-top:active{
    background-color:rgba(255, 255, 255, 0.623);
}

.zero-button{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 43px;
    width: 500;
}
/* .double{
    flex-basis: 47%;
    border-radius: 36px;
} */
.button-zero{
    flex-basis: 47%;
    
}
